<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--创建过滤器-->
    <filter>
        <filter-name>Login</filter-name>
        <filter-class>com.nuc.Filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Login</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>




    <!--监听器-->
    <listener>
        <listener-class>com.nuc.Listener.ServletContentListenerDemo</listener-class>
    </listener>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.nuc.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.nuc.servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>com.nuc.servlet.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/BookServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.nuc.servlet.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>com.nuc.servlet.ShopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/ShopServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PayServlet</servlet-name>
        <servlet-class>com.nuc.servlet.PayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PayServlet</servlet-name>
        <url-pattern>/PayServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WelcomServlet</servlet-name>
        <servlet-class>com.nuc.servlet.WelcomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomServlet</servlet-name>
        <url-pattern>/WelcomServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


</web-app>