

.center{
    width: 1150px;
    margin:20px auto;
    /*background: green;*/
}


.center-focus:after{
    content: "";
    display: table;
    clear: both;
}

.center-new{
    float: left;
    width: 750px;
    margin-left: 230px;
    /*background: #42668F;*/
}
.center-new1:after{
    content: "";
    display: table;
    clear: both;
}
.center-new1{

    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;

    /*height: 250px;*/
    width: 200px;
    margin-left: 990px;
    /*background: #91DB4B;*/
}
.center-focus{
    /*text-align: center;*/
    font-size: 20px;
    margin-top: 10px;
    width: 200px;
    margin-left: 990px;

    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
    /*background: red;*/

}
.center-new ul{

    list-style: none;
}
.center-new ul li{
    margin:10px;
    width: 150px;
    height: 250px;
    /*background: #91DB4B;*/
    float: left;
}


.center-focus ul{
    position: relative;
    margin-left: -40px;
}

.center-focus ul li{

    padding: 5px;
    float: left;
    border: #aaaaaa solid 1px;
    font-size: 14px;
    display: inline-block;
}

.center-focus-dp {
    position: absolute;
    /*background: #91DB4B;*/
    margin-top: 50px;
}
.center-focus-dp ul li{
    border: #aaaaaa;
}

.btn1{
    color: white;
    border-color: red;
    border-width: 2px;
    width: 100px;
    height: 30px;
    background: red;
}



.center1{
    width: 1150px;
    margin:20px auto;
    /*background: green;*/
}

.center1 ul{

    list-style: none;
}
.center1 ul li{
    margin:10px;
    width: 150px;
    height: 250px;
    /*background: #91DB4B;*/
    float: left;
}
.center1:after{
    content: "";
    display: table;
    clear: both;
}