.footer{
	text-align: center;
}

.footer-right{
	z-index: 100;
	position: fixed;
	top:500px;
	right: 0px;
}

.footer-ewm{
	border-color: black;
	border-style: solid;

	border-width: 0.5px;
	position: relative;
	width: 50px;
	height: 50px;
	background: white;
}

.footer1{

	background: url(../img/test.png);
	display: none;
	width: 150px;
	height: 150px;
	/* background: #00FFFF; */
	position: absolute;
	top: 1px;
	right: 51px;
}

.footer-zd{
	border-color: black;
	border-style: solid;

	border-width: 0.5px;
	width: 50px;
	height: 50px;
	/* background: red; */
}
.center:after{
	content: "";
	display: table;
	clear: both;
}

.btn_brand_next{
	width: 25px;
	height: 50px;
	background: url(http://img4.ddimg.cn/00363/book_index/book_fanye_btn.png) -26px 0 no-repeat;
	z-index: 2;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: 10px;
}

.btn_brand_prev{
	width: 25px;
	height: 50px;
	background: url(http://img4.ddimg.cn/00363/book_index/book_fanye_btn.png) 0 0 no-repeat;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: 10px;
	z-index: 2;
	cursor: pointer;
}