*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #f5f5f5;
}

#header{
	background-color: #4c4c4c;
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	font-family: "楷体";
}

#header p em{
	color: red;
}

#header p span{
	color: darkgrey;
}

#login{
	position:absolute;
	top:25%;
	left: 35%;
	font-size: 18px;
}

#login_main{
	border: 1px solid darkgrey;
	width: 600px;
	height: 300px;
	border-radius: 3px;
	background-color: white;
}

#login_header{
	background-color: #ececec;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	text-indent: 1em;
	border-bottom: 1px solid #dfdfdf;

}

#login_form{
	height: 220px;
	width: 550px;
	margin: 10px auto;;
	padding-left: 20px;
	/* border: 1px solid red; */
}

#nameerror,#pwderror{
	color: red;
	font-size: 20px;
}

#login_form p{
	line-height: 40px;
}

#username,#password{
	height: 30px;
	width: 500px;
	border-radius: 3px;
	background-color: #faffbd;
	border:1px solid #DFDFDF;

}

.login_save{
	position: relative;
	top: 10px;
}

#login_button{
	float: right;
	position: relative;
	top: 10px;
	left: -45px;
	font-size: 20px;
	border-radius: 8px;
	background: -webkit-linear-gradient(#627f9c,#153759);
	color: white;
	padding: 5px 12px;
	cursor: pointer;
}

#login_button:hover{
	opacity:0.9;
}

#login_footer{
	padding-top: 10px;
}

#forget{
	text-decoration: none;
	float: left;
	color: #2297d1;
}

#skip_regist{
	text-decoration: none;
	float: right;
	color: #2297d1;
}