*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #f5f5f5;
}

#header{
	background-color: #4c4c4c;
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	font-family: "楷体";
}

#header p em{
	color: red;
}

#header p span{
	color: darkgrey;
}

#regist{
	position:absolute;
	top:20%;
	left: 35%;
	font-size: 18px;
}

#regist_main{
	border: 1px solid darkgrey;
	width: 600px;
	height: 420px;
	border-radius: 3px;
	background-color: white;
}

#regist_header{
	background-color: #ececec;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	text-indent: 1em;
	border-bottom: 1px solid #dfdfdf;
}

#regist_form{
	height: 220px;
	width: 550px;
	margin: 10px auto;;
	padding-left: 60px;
	/* border: 1px solid red; */
}

#regist_form p{
	line-height: 55px;
}

#username,#password,#email,#address,#phone{
	height: 30px;
	width: 400px;
	border-radius: 5px;
	background-color: darkgrey;
}


.regist_save{
	position: relative;
	top: 10px;
}

#regist_button{
	color: white;
	background: -webkit-linear-gradient(#627f9c,#153759);
	font-size: 20px;
	border-radius: 8px;
	padding: 10px 50px;
	margin-top: 10px;
	margin-left: 95px;
	width: 300px;
	cursor: pointer;
}

#regist_button:hover{
	opacity:0.9;

 }


#regist_footer{
	padding-top: 10px;
}

#skip_login{
	text-decoration: none;
	float: left;
	color: #2297d1;
}