body,ul,li,div,p,h2,ol{margin:0;padding: 0;}
body{margin: 5px 0 0 0}
ul,li,ol{list-style: none;}
.shop{width: 750px; margin: 0 auto;  font-family: "微软雅黑"; border: solid 1px #cecece; padding: 5px;}
.title h1{
    display: inline-block;
}
.title span{
    display: inline-block;
   float: right;
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    background: #ff0000;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
}
.cartList{
    overflow: hidden;
}
.cartList ul{
    clear: both;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px #c6c6c6 dashed;
    padding-top: 6px;
}
.cartList ul li img{width: 60px;}
.cartList ul li{
    font-family: "微软雅黑";
    font-size: 12px;
    color: #666666;
    text-align: center;
    line-height: 25px;
    float: left;

}
.cartList ul li input[name="price"]{
    border: none;
    background: transparent;
    width: 45px;
    height: 25px;
    text-align: center;
}
.cartList ul li input[name="amount"]{
    width: 45px;
    text-align: center;
    border: 1px solid #999999;
    border-left: none;
    border-right: none;
    height: 21px;
}
.cartList ul li input[name="minus"],.cartList ul li input[name="plus"]{
    height: 25px;
    border: 1px #999999 solid;
    width: 25px;
    text-align: center;
}
.cartList ul li:nth-of-type(1){width: 130px;}
.cartList ul li:nth-of-type(2){width: 100px;}
.cartList ul li:nth-of-type(3){width: 130px;}
.cartList ul li:nth-of-type(4){width: 100px;}
.cartList ul li:nth-of-type(5){width: 130px;}
.cartList ul li:nth-of-type(6){width: 100px;}
.cartList ul li p{cursor: pointer;}
.cartList ol{
    float: right;
    clear: both;
}
.cartList ol li{
    float: left;
    width: 200px;
}
.cartList ol li:nth-of-type(1) span{
    color: #ff0000;
}
.cartList ol li:nth-of-type(2) span{display: inline-block;
    float: right;
    width: 80px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-family: "微软雅黑";
    background: #ff0000;
    color: #ffffff;
    text-align: center;
    margin-top: 5px;
    margin-right: 15px;
    cursor: pointer;
    font-weight: bold;}