.menu{
    float: left;
    width: 750px;
    height: 315px;
    background-image: url("../img/11(1).jpg");
    background-size: 750px 315px;
    margin-left: 230px;
    position: relative;
}

.left-jt{
    width: 77px;
    height: 77px;
    background-image: url("../img/left.png");
    background-color: rgba(255,255,255,0.3);
    position: absolute;
    cursor: pointer;
    top: 125px;
    display: none;
}

.right-jt{
    width: 77px;
    height: 77px;
    background-image: url("../img/right.png");
    background-color: rgba(255,255,255,0.3);
    position: absolute;
    cursor: pointer;
    top: 125px;
    left: 673px;
    display: none;
}

.select-tb ul{
    width: 180px;
    height: 20px;
    /*background: #00FF00;*/
    position: absolute;
    top: 280px;
    left: 285px;
}



.select-tb ul a{
    background: #aaaaaa;
    color: white;

    text-align: center;

    margin-left: 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-decoration: none;

    border-radius: 50%;
}

.select-tb ul a:nth-of-type(1){
    background: orange;
    color: white;

    text-align: center;

    margin-left: 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-decoration: none;

    border-radius: 50%;
}

.select-tb ul a:hover{
    background: orange;
    color: white;

    text-align: center;

    margin-left: 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-decoration: none;

    border-radius: 50%;
}
